body {
    font-family: Arial, sans-serif;
    background-color:  #e0f2f1;
    text-align: center;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #00a4a2;
    color: #fff;
    padding: 20px 0;
}

.header h1 {
    font-size: 36px;
}

.home-content {
    height: 280px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #00a4a2;
    padding: 20px;
    border-radius: 10px;
    background-color: #e0f2f1;
    margin-left: 500px;
}

p {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.btn {
    background-color: #00a4a2;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #008c8a;
}

.info {
    background-color: #e0f2f1;
    padding: 30px;
}

h2 {
    font-size: 28px;
    color: #333;
}

.quote {
    font-style: italic;
    color: #555;
    margin-top: 10px;
}
